*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
}

#counterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2rem;
   
    
}

button img{
    width: 5rem;
    height: auto;
    color: fff;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(341deg) brightness(106%) contrast(102%);

}

#zero {
    background-color: rgb(227, 227, 237);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

h1 {
    font-size: 8rem;
    color: fff;

}

button {
    background-color: rgb(203, 200, 222);
    padding: 20px 60px;
    border-radius: 24px;
    border: 0;
    
}

#minus button {
    background-color: crimson;
}

#minus button:hover {
    background-color: rgb(205, 29, 64);
}


#plus button {
    background-color: darkgreen;
}

#plus button:hover{
    background-color: rgb(82, 138, 82);
}